* {
    background-color: black;
}

/* header */

.logo {
    width: 500px;
    height: 500px;
    border-radius: 28px;
    
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}