* {
    background-color: black;
}

/* Header */

.logo {
    width: 50px;
    height: 50px;
    border-radius: 28px;
    position: fixed;
    left: 300px;
}

/* Body */
/* Left menu */

.left-menu {
    width: 50px;
    height: 50px;
    border-radius: 28px;
    position: fixed;
    left: 300px;
    top: 100px;
}

.msg-btn {
    border-style: none;
    padding: 0.5em;
    border-radius: 24px;
    font-size: 1.5em;
    text-decoration: none;
}

.msg-btn:hover {
    background-color: rgb(46, 46, 46);
}

.msg-link {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

/* messages style section */

.vertical-line-one {
    width: 100%;
    rotate: 90deg;
    background-color: rgb(31, 31, 31);
    position: relative;
    top: 27px;
    left: -350px;
}

.vertical-line-two {
    width: 100%;
    rotate: 90deg;
    background-color: rgb(31, 31, 31);
    position: relative;
    top: 27px;

}

.vertical-line-three {
    width: 100%;
    rotate: 90deg;
    background-color: rgb(31, 31, 31);
    position: relative;
    top: 27px;
    left: 650px;
}